<div class="center hero-unit">
 <h1>Welcome To Student App</h1>
  <p> 
    Need a book? We can help
    <a href="http://www.amazon.com" target="books">Find Your Book</a>
  </p>
 <%= link_to "Sign up Now!", signup_path, class: "btn btn-lg btn-primary" %>
 </div>

 
 
