<% provide(:title, "All Users") %>
<h1> All Users </h1>
 <div class="flickr_pagination">
   <%= will_paginate  %>
 </div>
 
 
 <div class="row">
    
   <%= render @users %>

  </div>
  
<div class="flickr_pagination">
   <%= will_paginate  %>
 </div>
 
