<% if object.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-error"> 
    <%= pluralize(object.errors.count, "error") %> prohibited this user from being saved:
  </div>
  </div>
<% end %>
