 <footer class="footer">
   <small>
     <a href="https://www.linkedin.com/pub/david-gross/44/805/3" target="_blank">About Author</a>
      by David Gross 
   </small>
   <nav>
    <ul>
      <li> <%= link_to "About", about_path %> </li>
      <li> <%= link_to "Contact", contact_path  %></li>
      <li> <a href="http://www.url.com" target="_blank">Daves Blog</a></li>
    </ul> 
  </nav>   
 </footer>
